.home {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .28em;
  line-height: 1;
  color: #333;
  background-color: #f0efed;
  display: block;
}

//*****  Start  ******
.parent {
  display: flex;
  height: 148px;
  //text-align: center;

  justify-content:         center;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari */

}
.aside-left{
  width: 38%;
  //border-right: 1px solid #ddd8ce;
  height: 2.96rem;
  //background: tomato;
  order: 1;
}
.info {
  vertical-align: top;
  width: 1.7rem;
  text-align: left;
  display: inline-block;
}
.info strong {
  display: block;
  color: #55a40f;
  font-size: .3rem;

  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}
.info small {
  margin-top: 1.8rem;
  color: #666;
}
.imgbox img {
  position: absolute;
  left: 20%;
  top: 70%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  height: 1.26rem;
  vertical-align: middle;
  border: 0px;
}

.aside-right{
  width: 60%;
  height: 100%;
  order: 2;
  border-left: 1px solid #ddd8ce;
  //background: hotpink;
}

.aside-right-top{
  border-bottom: 1px solid #ddd8ce;
  height: 74px;
  //height: 1.46rem;
}
.info-right strong{
   display: block;
   color: #ff3f0d;
   font-size: .3rem;

   margin-top: 0.8rem;
   margin-bottom: 0.6rem;
   margin-left: 0.8rem;
 }
.info-right small{
  color: #666;

  margin-top: 1.8rem;
  margin-bottom: 0.6rem;
  margin-left: 0.8rem;
}
.img-box img {
  position: absolute;
  right: 0%;
  //top: 70%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  height: 1.26rem;
  vertical-align: middle;
  border: 0px;
}

//***** 左下  ****
.aside-right-bottom{
  //border-bottom: 1px solid #ddd8ce;
  background: tomato;
  width:100%;
  height: 100%;

  display: flex;
  //text-align: center;
  justify-content:         center;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari */
}

.bottom-left{
  width: 50%;
  height:  100%;

  background:blue;
  display:inline;
}
.info-bottom-left{

  vertical-align: top;
  width: 1.7rem;
  text-align: left;
  display: inline-block;
}
.info-bottom-left strong {

  display: block;
  color: #55a40f;
  font-size: .3rem;

  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
  margin-left: 0.8rem;
}
.info-bottom-left small {
  margin-top: 1.8rem;
  margin-left: 0.8rem;
  color: #666;
}
.img-bottom-left{
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 1.8rem;
  right: 25%;
  text-align: left;
  font-size: 3.0em;
  -webkit-transform: translate(-90%,-30%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  height: 2.26rem;
  vertical-align: middle;
}

.bottom-right{
  border-left: 2px solid #ddd8ce;
  width: 50%;
  height:  100%;
  background: hotpink;
  display:inline;

}
.info-bottom-right{

  vertical-align: top;
  width: 1.7rem;
  text-align: left;
  display: inline-block;
}
.info-bottom-right strong {

  display: block;
  color: #55a40f;
  font-size: .3rem;

  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
  margin-left: 0.8rem;
}
.info-bottom-right small {
  margin-top: 1.8rem;
  margin-left: 0.8rem;
  color: #666;
}

//*****  Start  ******
