.home {

  /*ion-row {
    //height: 100%;
    flex-wrap: wrap;
  }

  ion-col div {
    //background-color: #F9FAFB;
    //border: 1px solid #ddd;
    padding: 3px;
    border-radius: 2px;
    text-align: center;
    height:90px;
  }

  slide-zoom {
    //height: 100%;
  }
*/

}

.text-on-bottom   .button-inner {
  flex-direction: column;
}
.text-on-bottom  {
  margin-top: 8px;
}


