.goods-item {

}

.price-strong {
  font-size: 1.7rem;
  color: #06c1ae;
}

.tag {
  margin-left: 0.6rem;
  border: .02rem solid #f90;
  color: #f90;
  line-height: 1.5;
  display: inline-block;
  padding: 0 .06rem;
  font-size: .22rem;
  border-radius: .06rem;
}
